:root {
    --primary-color: #f8e8a6;
    --secondary-color: #025d2f;
}
 body {
    background: var(--primary-color);
    text-align: center;
}

h1 {
    text-align: center;
}
p {
    text-align: center;
    font-size: large;
}

.croissant-photo {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}

footer {
    text-align: center;
}

footer a {
    margin: 0 10px;
    color: var(--secondary-color);
    font-size: medium;
    
}